<%= form_with model: @price_record, data: { turbo_frame: "price_record_form", controller: "category-filter" }, url: url, local: false do |f| %>

  <%= f.hidden_field :mode, value: "existing" %>
  <!-- 絞り込み -->
  <div class="mb-4">
    <%= f.label :category_filter, "カテゴリー", class: "block text-sm font-medium text-gray-700" %>
    <%= select_tag :category_filter,
      options_from_collection_for_select(@categories, :id, :name, params[:category_filter]),
      prompt: "全て",
      class: "form-control w-full",
      data: { action: "change->category-filter#change" } %>
  </div>

  <!-- 商品選択 -->
  <div id="product_select">
    <div class="mb-4">
      <%= f.label :product_id, "商品名", class: "block text-sm font-medium text-gray-700" %>
      <%= f.collection_select :product_id, @products, :id, :name, prompt: "選択してください", class: "form-control w-full" %>
    </div>
  </div>

  <!-- 店舗選択 -->
  <div class="mb-4">
    <%= f.label :shop_id, "店名", class: "block text-sm font-medium text-gray-700" %>
    <%= f.collection_select :shop_id, @shops, :id, :name, prompt: "選択してください", class: "form-control w-full" %>
  </div>

  <!-- 価格 -->
  <div class="mb-4">
    <%= f.label :price, "価格", class: "block text-sm font-medium text-gray-700" %>
    <%= f.number_field :price, class: "form-control w-full", step: 1 %>
  </div>

  <!-- 日付 -->
  <div class="mb-4">
    <%= f.label :purchased_at, "日付", class: "block text-sm font-medium text-gray-700" %>
    <%= f.date_field :purchased_at, class: "form-control w-full" %>
  </div>

  <!-- メモ -->
  <div class="mb-6">
    <%= f.label :memo, "メモ", class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_area :memo, class: "font-control w-full" %>
  </div>

  <%= f.submit "登録する", class: "btn btn-orange w-full" %>
<% end %>