<%= paginator.render do -%>
  <nav class="flex justify-center mt-6 mb-4" role="navigation" aria-label="Pagination">
    <ul class="inline-flex items-center space-x-2">
      <%= first_page_tag unless current_page.first? %>
      <%= prev_page_tag  unless current_page.first? %>

      <% each_page do |page| -%>
        <% if page.display_tag? -%>
          <%= page_tag page %>
        <% elsif !page.was_truncated? -%>
          <%= gap_tag %>
        <% end -%>
      <% end -%>

      <% unless current_page.last? %>
        <%= next_page_tag %>
        <%= last_page_tag %>
      <% end %>
    </ul>
  </nav>
<% end -%>