<div class="container mx-auto px-4 py-6">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">カテゴリーリスト</h1>
    <%= link_to "編集", edit_categories_path, class: "text-sm text-blue-600 underline" %>
  </div>

  <!-- 検索部分 -->
  <div class="mb-4">
    <div class="relative">
      <%= form_with url: categories_path,method: :get, local: true do |f| %>
        <%= f.search_field :name_cont, placeholder: "検索", class: "form-control pl-10 w-full" %>
        <div class="absolute left-3top-2.5 text-gray-500">
          <i class="fas fa-search"></i>
        </div>
      <% end %>
    </div>
  </div>

  <!-- カテゴリーリスト -->
  <ul class="divide-y divide-gray-200 rounded bg-white shadow mb-6">
    <li class="p-4 flex items-center hover:bg-gray-50">
      <%= link_to "すべての商品", products_path, class: "text-lg text-black hover:underline w-full" %>
    </li>

    <% @categories.each do |category| %>
      <li class="p-4 flex items-center hover:bg-gray-50">
        <%= link_to category.name, category_path(category), class: "text-lg text-gray-800 hover:underline w-full" %>
      </li>
    <% end %>
  </ul>

  <!-- 追加ボタン -->
  <div class="flex gap-4 justify-center">
    <%= link_to new_product_path, class: "btn btn-circle bg-orange-400 text-white" do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <%= link_to new_category_path, class: "btn btn-circle bg-gray-500 text-white" do %>
      <i class="fas fa-folder-plus"></i>
    <% end %>
  </div>
</div>
